html, body {
    font-size: 100%;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
}

body {
    background: rgb(226, 228, 253);
    padding: 80px 0 0 0;    
}

body, input, button {
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 15px;    
    z-index: 5;
    background: rgb(56, 42, 250);
    box-shadow: 0px 2px 4px rgba(44, 62, 80, 0.5);
    border-bottom-right-radius: 10px;  
    border-bottom-left-radius: 10px;  
}

header input {
    width: 100%;
    height: 50px;
    float: left;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    text-indent: 18px;
    background: rgba(255, 255, 255, 0.2);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;    
    border: 0px;
    box-shadow: none;
    outline: none;

    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

header input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.75);
}

header input:-moz-input-placeholder {
    color: rgba(255, 255, 255, 0.75);
}

header input::-moz-input-placeholder {
    color: rgba(255, 255, 255, 0.75);
}

header input::-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.75);
}

header button {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 2;
    background: #fff;
    border-radius: 25px;
    border: 0px;
    box-shadow: none;
    outline: none;
    cursor: pointer;
  
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


header button svg {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -8px 0 0 -8px;
}

header button svg .fill {
    fill: rgb(56, 42, 250);
}

.container {
    width: 100%;
    float: left;
    padding: 15px;
}

ul.todo {
    width: 100%;
    float: left;
}

ul.todo li {
    list-style: none;
    width: 100%;
    min-height: 50px;
    float: left;
    font-size: 14px;
    font-weight: 500;
    color: #444;
    line-height: 22px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 1px 2px rgba(44, 62, 80, 0.10);
    margin: 0 0 10px 0;
    position: relative;
    padding: 14px 100px 14px 14px;
}

ul.todo li:last-of-type {
  margin: 0;
}

ul.todo li .buttons {
  width: 100px;
  height: 50px;

  position: absolute;
  top: 0;
  right: 0;
}

ul.todo li .buttons button {
  width: 50px;
  height: 50px;
  float: left;
  background: none;
  position: relative;
  border: 0px;
  box-shadow: none;
  outline: none;
  cursor: pointer;

  -webkit-appearance: none;
  -moz-appearance: none;
}

ul.todo li .buttons button:last-of-type:before {
  content: '';
  width: 1px;
  height: 30px;
  background: #edf0f1;
  position: absolute;
  top: 10px;
  left: 0;
}

.noFill {
  fill: none;
}

ul.todo li .buttons button svg {
  width: 22px;
  height: 22px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -11px 0 0 -11px;
}

ul.todo li .buttons button.remove svg .fill {
  fill: #c0cecb;
}

ul.todo li .buttons button.remove:hover svg .fill {
  fill: #e85656;
}

ul.todo li .buttons button.complete svg .fill {
  fill: rgb(56, 42, 250);
}
 
ul.todo li .buttons button.complete svg {
  border-radius: 11px;
  border: 1.5px solid rgb(56, 42, 250);
  transition: background 0.2s ease;
}

ul.todo#completed li .buttons button.complete svg {
    background: rgb(56, 42, 250);
    border: 0;
}

ul.todo#completed li .buttons button.complete svg .fill {
    fill: #fff;
}

ul.todo li .buttons button.complete svg:hover {
  border: 1.5px solid rgb(56, 42, 250);
  background: rgb(56, 42, 250);
}

ul.todo li .buttons button.complete svg:hover .fill {
    fill: #fff;
}

ul.todo#completed {
    position: relative;
    padding: 60px 0 0 0;
}

ul.todo#completed:before {
    content: '';
    width: 150px;
    height: 1px;
    background: #bdbadf;
    position: absolute;
    top: 30px;
    left: 50%;
    margin: 0 0 0 -75px;
}

ul.todo#todo:empty:after {
    content: 'You have nothing to do!';
}

ul.todo#completed:empty:after {
    content: 'You have yet to complete any tasks!'
}

ul.todo#todo:after,
ul.todo#completed:after {
    width: 100%;
    min-height: 50px;
    float: left;
    font-size: 14px;
    font-weight: 500;
    color: #444;
    line-height: 22px;
    text-align: center;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 1px 2px rgba(44, 62, 80, 0.10);
    margin: 0 0 10px 0;    
    padding: 20px 0 0 0;
}
